<div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
    <button class="w3-bar-item w3-button w3-large" onclick="w3_close()">Cerrar <i class="bi bi-arrow-left-right" style="font-size: 1rem; color: #249737;"></i></button>
    <a href="./menu.php" class="w3-bar-item w3-button"><i class="bi bi-house" style="font-size: 2rem; color: #249737;"></i> Menú</a>
    <a href="./inventario.php" class="w3-bar-item w3-button"><i class="bi bi-card-checklist" style="font-size: 2rem; color: #249737;"></i> Inventario</a>
    <a href="./reportes.php" class="w3-bar-item w3-button"><i class="bi bi-clipboard-data" style="font-size: 2rem; color: #249737;"></i> Reportes</a>
    <a href="./administradores.php" class="w3-bar-item w3-button"><i class="bi bi-person" style="font-size: 2rem; color: #249737;"></i> Administradores</a>
    <a href="./clientes.php" class="w3-bar-item w3-button"><i class="bi bi-people" style="font-size: 2rem; color: #249737;"></i> Clientes</a>
    <a href="./configuracion.php" class="w3-bar-item w3-button"><i class="bi bi-sliders" style="font-size: 2rem; color: #249737;"></i> Configuración</a>
</div>